@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

/* Box sizing fix */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Grid styles */

[class*="grid_"] {
    display: inline-block;
}

.grid_12 {
    width: 100%;
}

.grid_9 {
    width: 74%;
}

.grid_6 {
    width: 49%;
}

.grid_3 {
    width: 24%;
}



/* Container styles */

.wrapper {
    padding: 50px;
    max-width: 1000px;
    margin: 0px auto;
    min-width: 320px;
}
.wrapper-nopadding {
    max-width: 1000px;
    margin: 0px auto;
    min-width: 320px;
}
.mobile-wrapper {
    max-width: 400px;
}

/* Typography styles */

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

h3 {
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

h3 b {
    font-weight: 700;
}

h3 strong {
    font-weight: 700;
}

p {
    font-size: 0.9rem;
    font-weight: 300;
}

a {
    text-decoration: underline;
    font-weight: 700;
}

/* Background colors */

.bg-gradient {
    color: #FFFFFF;
    background: #99de4e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #99de4e 0%, #5ee569 100%, #5ee569 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #99de4e 0%, #5ee569 100%, #5ee569 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #99de4e 0%, #5ee569 100%, #5ee569 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#99de4e', endColorstr='#5ee569', GradientType=0);
    /* IE6-9 */
}

.bg-grey {
    color: #FFFFFF;
    background-color: #222222;
}

.bg-greylight {
    color: #222222;
    background-color: #f2f2f2;
}

.bg-grey b {
    color: #a4ee54;
}

.bg-greylight a {
    color: #222222;
}

.bg-white {
    color: #222222;
    background-color: #FFFFFF;
}

/* Section-specific styles */

.section-0 h3 {
    text-align: center;
    padding-bottom: 10vh;
}

.section-1 .grid_6 {
    vertical-align: top;
    margin-top: 100px;
}

.section-2 p {
    margin-bottom: 0px;
}

.section-3 h3 {
    text-align: center;
}

.section-3 p {
    margin-bottom: 0px;
}

.section-4,
.section-4 h3 {
    text-align: center;
}

/* Image styles */

.junebug-logo {
    width: 100%;
    padding-top: 200px;
    display: block;
    padding-bottom: 10px;
    max-width: 500px;
}

.junebug-logo img {
    width: 100%;
    height: 100%;
}

.junebug-title {
    padding-top: 0px;
}

.large-image {
    background: url(../img/phone-hand-large.jpg);
    background-size: 420px auto;
    background-repeat: no-repeat;
    height: 468px;
    margin-top: 50px;
    width: 49%;
    display: inline-block;
}

[class*='contrib-logo-'] {
    width: 50%;
    display: inline-block;
    text-align: center;
}

[class*='contrib-logo-'] img {
    width: 50%;
    max-width: 200px;
}

.contrib-logo-right {
    float: right;
}

/* Carousel styles */

.carousel {
    position: relative;
    height: auto;
    overflow: hidden;
}

/* --- hotzones */

    [class*="carousel-hotzone-"] {
        display: none;
    }

/* --- slides */

    .carousel-slide {
        position: relative;
        max-width: 900px;
    }

    .carousel-slide-content {

    }

    .carousel-slide-icon {
        height: 110px;
        position: relative;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .carousel-slide-icon img {
        width: 50%;
        height: 100%;
    }

    .carousel-slide.limegreen {
        border-bottom: 1px solid #a4ee54;
    }

    .carousel-slide.blue {
        border-bottom: 1px solid #3ecae9;
    }

    .carousel-slide.red {
        border-bottom: 1px solid #f54662;
    }

    .carousel-slide.yellow {
        border-bottom: 1px solid #ffd12b;
    }


/* --- breadcrumbs */

    .carousel-breadcrumbs {
        display: none;
    }


/* --- listing  */

    .color-list {
        padding: 0;
        font-size: 0.9rem;
        max-width: 100%;
    }
    [class*="color-list-"] {
        list-style: none;
        position: relative;
        padding-left: 15px;
        margin-top: 15px;
    }
    [class*="color-list-"]:before {
        content: '';
        border-radius: 3px;
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
    }
    .color-list-limegreen:before {
        border-left: 6px solid #a4ee54;
    }
    .color-list-green:before {
        border-left: 6px solid #00c973;
    }
    .color-list-darkgreen:before {
        border-left: 6px solid #019e7c;
    }
    .color-list-yellow:before {
        border-left: 6px solid #ffd12b;
    }
    .color-list-blue:before {
        border-left: 6px solid #3ecae9;
    }
    .color-list-red:before {
        border-left: 6px solid #f54662;
    }

/* Button styles */

.button-list {
    padding-bottom: 50px;
    text-align: center;
}

[class*="btn-"] {
    padding: 10px;
    width: 31%;
    margin: 0px auto;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    color: #FFFFFF;
    display: inline-block;;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
}

[class*="btn-"]:last-child {
    margin-right: 0px;
}

.btn-limegreen {
    background-color: #a4ee54;
}

.btn-green {
    background-color: #00c973;
}

.btn-darkgreen {
    background-color: #019e7c;
}

/* Helper classses */

.no-padding-bottom {
    padding-bottom: 0px;
}

.clb {
    clear: both;
}

/* Footer */

.contrib {
    margin-top: 30px;
}

.footer {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.footer-copyright {
    color: #999;
    display: block;
    font-size: 0.9rem;
    vertical-align: bottom;
    height: 20px;
    width: 100%;
}

[class*="footer-logo-"] {
    max-width: 70px;
    display: inline-block;
}

[class*="footer-logo-"] img {
    width: 100%;
}

.footer-logo-git {
    width: 30px;
    margin-right: 10px;
}

.footer-logo-junebug {

}


/* Media queries */

@media (max-width: 1000px) {
    .carousel-slide-icon img {
        width: 100%;
    }
}

@media (max-width: 750px) {

    html {
        font-size: 16px;
    }

    h3 {
        text-align: left;
    }

    .grid_3,
    .grid_6,
    .grid_9,
    .grid_12 {
        width: 100%;
    }

    .junebug-logo {
        width: 100%;
        padding-top: 150px;
        display: block;
        padding-bottom: 50px;
    }

    .junebug-logo img {
        width: 100%;
        height: 100%;
    }

    .junebug-title {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-0 h3 {
        text-align: left;
        padding-bottom: 0px;
    }

    .section-1 .grid_6 {
        margin-top: 0px;
    }


    .section-4,
    .section-4 h3 {
        text-align: left;
    }

    .large-image {
        width: 100%;
        background: url(../img/phone-hand.jpg);
        background-size: 320px auto;
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 400px;
    }

    [class*='contrib-logo-'] {
        width: 45%;
    }

    [class*='contrib-logo-'] img {
        width: 100%;
    }

    .carousel {
        height: 560px;
    }

    [class*="carousel-hotzone-"] {
        display: block;
        width: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 560px;
    }
    .carousel-hotzone-right {
        right: 0;
    }
    .carousel-hotzone-left {
        left: 0;
    }

    .carousel-slide {
        position: absolute;
        -webkit-transform: translate(-100px, 0) translateZ(0);
        -moz-transform: translate(-100%, 0) translateZ(0);
        -o-transform: translate(-100%, 0) translateZ(0);

        height: 480px;

        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        min-width: 100%;
        opacity: 0;
    }

    .carousel-slide.limegreen,
    .carousel-slide.blue,
    .carousel-slide.red,
    .carousel-slide.yellow {
        border-bottom: 0px;
    }


    .carousel-slide.active {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);

        opacity: 1;
    }

    .carousel-slide-icon {
        bottom: 50px;
        left: 50px;
        width: 80px;
        height: 80px;
        position: absolute;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .carousel-slide-icon img {
        width: 100%;
    }

    .carousel-slide.active ~ .carousel-slide {
        -webkit-transform: translate(100%, 0);
        -moz-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0);
        opacity: 0;
    }

    .carousel-breadcrumbs {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
        display: block;
    }

    [class*="carousel-breadcrumb-"] {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 10px;
        border-width: 4px;
        border-style: solid;
        border-color: #e0e0e0;
        transition: border-color 0.3s;
    }

    .carousel-breadcrumb-0.active {
        border-color: #a4ee54;
    }

    .carousel-breadcrumb-1.active {
        border-color: #3ecae9;
    }

    .carousel-breadcrumb-2.active {
        border-color: #f54662;
    }

    .carousel-breadcrumb-3.active {
        border-color: #ffd12b;
    }

    [class*="btn-"] {
        width: 100%;
        max-width: 400px;
        margin-right: 0px;
        margin-top: 10px;
    }

    .footer {
        text-align: left;
    }
}
